/*
	Fixa o rodapé
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.font-bold {
  font-weight: bold;
  flex-shrink: 0;
  flex-basis: auto;
}

.link-acomodacoes{
    color: inherit;
}

.custom-height {
    height: 12.5rem;
  }

  .custom-height-card {
    height: 14.375rem; /* Garante que a altura seja ajustada dinamicamente */
  } 

  .custom-overflow-card {
    max-height: 200px; overflow-y: auto;
  }
.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.width {
  width: 100%;
}

.card-image .card-title  {
  --step--2: clamp(0.6944rem, 0.5816rem + 0.5644vi, 1.28rem);
  --step--1: clamp(0.8333rem, 0.6855rem + 0.739vi, 1.6rem);
  --step-0: clamp(1rem, 0.8072rem + 0.9639vi, 2rem);
  --step-1: clamp(1.2rem, 0.9494rem + 1.253vi, 2.5rem);
  --step-2: clamp(1.44rem, 1.1152rem + 1.6241vi, 3.125rem);
  --step-3: clamp(1.728rem, 1.3081rem + 2.0995vi, 3.9063rem);
  --step-4: clamp(2.0736rem, 1.5321rem + 2.7077vi, 4.8828rem);
  --step-5: clamp(2.4883rem, 1.7914rem + 3.4845vi, 6.1035rem);
}

h4 {
  --step--2: clamp(0.6944rem, 0.5816rem + 0.5644vi, 1.28rem);
  --step--1: clamp(0.8333rem, 0.6855rem + 0.739vi, 1.6rem);
  --step-0: clamp(1rem, 0.8072rem + 0.9639vi, 2rem);
  --step-1: clamp(1.2rem, 0.9494rem + 1.253vi, 2.5rem);
  --step-2: clamp(1.44rem, 1.1152rem + 1.6241vi, 3.125rem);
  --step-3: clamp(1.728rem, 1.3081rem + 2.0995vi, 3.9063rem);
  --step-4: clamp(2.0736rem, 1.5321rem + 2.7077vi, 4.8828rem);
  --step-5: clamp(2.4883rem, 1.7914rem + 3.4845vi, 6.1035rem);
}

.descricao-galeria { font-size: 1.375rem;  margin-top: 1rem; margin-bottom: 1rem; margin-right: 17%; margin-left: 17%; }
.descricao-galeria h2 { text-align:  center; font-size: 1.875rem;}

